body.body--dark {
  background: $dark-page
  }

  @font-face {
    font-family: philosopher;
    src: url(../assets/fonts/Philosopher/Philosopher-Regular.ttf);
  }

  .font{
    font-family: philosopher;
  }


